<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="loc">Location</label>
                <input class="form-control" type="text" id="loc" name="campground[location]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="img">Image Url</label>
                <input class="form-control" type="text" id="img" name="campground[image]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" class="form-control" id="price-label" placeholder="0.00" aria-label="price"
                       aria-describedby="price-label" name="campground[price]">
            </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-secondary">Add Campground</button>
            </div>
        </form>
        <footer>
            <a href="/campgrounds">Go Back</a>
        </footer>
    </div>
</div>

// if having multiple campground[title/location], when the data is sent via POST request to express app / sever,
everything in the req.body will be stored under campground => in order to group content.
