<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Campground</title>
</head>
<body>
<h1> New Campground </h1>

<form action="/campgrounds" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <label for="loc">Location</label>
        <input type="text" id="loc" name="campground[location]">
    </div>
    <button>Add Campground</button>
</form>
<footer>
    <a href="/campgrounds">Go Back</a>
</footer>
</body>
</html>

// if having multiple campground[title/location], when the data is sent via POST request to express app / sever,
everything in the req.body will be stored under campground => in order to group content.
