<%- include('partials/head') %>
<%- include('partials/navbar') %>

<h1>All the Cats:</h1>
<ul>
    <% for(let cat of cats) { %>
        <li> I'm the <%= cat %> cat</li>
    <% } %>
</ul>
<%- include('partials/footer') %>