<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= subreddit %></title>
</head>
<body>
    <h1>browsing the <%= subreddit %> subreddit</h1>
    <% if(num % 2 ===0) { %>
    <h2>this is an even number</h2>
    <% } else {%>
        <h2>That is an odd number!</h2>
    <% } %>
    <h3><%= num%2===0 ? 'EVEN': 'ODD'%></h3>
</body>
</html>